.db #Ignora la base de datos
.csv #Ignora los archivos csv 
taxis_nuevayork2019_trimestre.db
taxi_zone_lookup.csv
data
__pycache__
__init__.cpython-314.pyc
query_manager.cpython-314.pyc
stats_logic.cpython-314.pyc
*.db-wal
*.wal
App_taxis_ny/src/__pycache__/__init__.cpython-314.pyc
App_taxis_ny/src/__pycache__/query_manager.cpython-314.pyc
App_taxis_ny/src/__pycache__/stats_logic.cpython-314.pyc
App_taxis_ny/__pycache__/__init__.cpython-314.pyc
